{{> head }}
   
    {{> navbar }}

    <div class="row p-4">
        <div class="col">
            <h1>HOLA | Estamos estudiando NODE</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere porro dolor, eligendi alias quas error animi quidem mollitia. Eius ipsum, illum assumenda eveniet voluptate earum dolore a eligendi hic sunt.</p>
        </div>
        <div class="col">
            <img src="assets/img/about.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}    